<!DOCTYPE html>
<html>
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <style>
    </style>
</head>
<body>

    <div class="jumbotron">
        <div class="container-fluid" style="text-align:center">
            <h1 style="margin:auto">RoboDJ</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 column" id="leftPlayer" style="text-align:center; border: 1px solid blue">
                <h2>DECK 1</h2>
                <table id="leftDeckTable" style="border: 1px solid red; margin: auto">
                    <tr><td>
                        
                        <form id="testForm" class="form-horizontal" method="post">
                            <div class="form-group">
                              <div class="col-md-4">
                                <label class="radio" for="option-0">
                                  <input name="options" id="option-0" value="1" type="radio" checked="checked">
                                  Wave Racer - Streamer
                                </label>
                                <label class="radio" for="option-1">
                                  <input name="options" id="option-1" value="2" type="radio">
                                  Hi Tom - Summer Plants
                                </label>
                                <label class="radio" for="option-2">
                                  <input name="options" id="option-2" value="3" type="radio">
                                  Hoodboi - By Ur Side
                                </label>
                              </div>
                            </div>
                        </form>
                        
                        <!--
                        <ul class="list-group">
                            <li id="Streamer" role="presentation" class="list-group-item active"><button class="label">Wave Racer - Streamers</button></li>
                            <li id="SummerPlants" role="presentation" class="list-group-item">Hi Tom - Summer Plants</li>
                        </ul> -->
                        
                    </td></tr>
                    <tr><td>
                        <button id="playButton">Play/Pause</button>
                    </td></tr>
                    <tr><td>
                        <input type="range" id="VolSliderL" value="100" style="width:50%; margin:auto">
                    </td></tr>
                    <tr><td>
                        <div id="waveformL"></div>
                        <canvas id="canvasLeft" class="visualizer" style="width:50%"></canvas>
                        <canvas id="graphLeft" height="60" style="border:1px solid black; width:100%"></canvas>
                        
                    </td></tr>
                </table>
            
            
            </div>
            
            
            
            
            <div class="col-sm-6 column" id="leftPlayer" style="text-align:center; border: 1px solid blue">
                <h2>DECK 2</h2>
                <table id="rightDeckTable" style="border: 1px solid red; margin: auto">
                    <tr><td>
                        
                        <form id="testFormR" class="form-horizontal" method="post">
                            <div class="form-group">
                              <div class="col-md-4">
                                <label class="radio" for="option-0R">
                                  <input name="options" id="option-0R" value="1" type="radio">
                                  Wave Racer - Streamer
                                </label>
                                <label class="radio" for="option-1R">
                                  <input name="options" id="option-1R" value="2" type="radio" checked="checked">
                                  Hi Tom - Summer Plants
                                </label>
                                <label class="radio" for="option-2R">
                                  <input name="options" id="option-2R" value="3" type="radio">
                                  Hoodboi - By Ur Side
                                </label>
                              </div>
                            </div>
                        </form>
                        
                        <!--
                        <ul class="list-group">
                            <li id="Streamer" role="presentation" class="list-group-item active"><button class="label">Wave Racer - Streamers</button></li>
                            <li id="SummerPlants" role="presentation" class="list-group-item">Hi Tom - Summer Plants</li>
                        </ul> -->
                        
                    </td></tr>
                    <tr><td>
                        <button id="playButtonR">Play/Pause</button>
                    </td></tr>
                    <tr><td>
                        <input type="range" id="VolSliderR" value="100" style="width:50%; margin:auto">
                    </td></tr>
                    <tr><td>
                        <div id="waveformR"></div>
                        <canvas id="canvasRight" class="visualizer" style="width:50%"></canvas>
                        <canvas id="graphRight" height="60" style="border:1px solid black; width:100%"></canvas>
                        
                    </td></tr>
                </table>
            
            
            </div>
        </div>
    </div>
    
    <!--
    <div><button id="playButton">Play</button></div>
    <div><button id="stopButton">Stop</button></div>
    <div><button id="sampleButton">Play Sample</button></div>
    
    <div id="waveform"></div>

    <canvas class="visualizer"></canvas>
    
    <canvas id="graph" height="200" width="100%" style="border:1px solid black"></canvas>
    -->
    
    <script src="{{audio}}"></script>
</body>
</html>