<!DOCTYPE html>
<html>
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <style>
    </style>
</head>
<body>

    <div class="jumbotron">
        <div class="container-fluid" style="text-align:center">
            <h1 style="margin:auto">RoboDJ</h1>
            <!--
            <button id="login-button">LOG IN</button>
            <button id="token-button">TOKEN</button>
-->
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 column" id="leftPlayer" style="text-align:center; border: 1px solid blue">
                <h2>DECK 1</h2>
                <table id="leftDeckTable" style="border: 1px solid red; margin: auto">
                    <tr><td>
                        
                        <input type="file" id="leftDeckUpload" accept=".wav,.mp3,.ogg">
                        
                        <!--
                        <ul class="list-group">
                            <li id="Streamer" role="presentation" class="list-group-item active"><button class="label">Wave Racer - Streamers</button></li>
                            <li id="SummerPlants" role="presentation" class="list-group-item">Hi Tom - Summer Plants</li>
                        </ul> -->
                        
                    </td></tr>
                    <tr><td>
                        <button id="playButton">Play/Pause</button>
                        <button id="metronomeButton">Metronome ON/OFF</button>
                    </td></tr>
                    <tr><td>
                        <input type="range" id="VolSliderL" value="100" style="width:50%; margin:auto">
                    </td></tr>
                    <tr><td>
                        <div id="waveformL"></div>
                        <canvas id="canvasLeft" class="visualizer" style="width:50%"></canvas>
                        <canvas id="graphLeft" height="60" style="border:1px solid black; width:100%"></canvas>
                        
                    </td></tr>
                </table>
            
            
            </div>
            
            
            
            
            <div class="col-sm-6 column" id="rightPlayer" style="text-align:center; border: 1px solid blue">
                <h2>DECK 2</h2>
                <table id="rightDeckTable" style="border: 1px solid red; margin: auto">
                    <tr><td>
                        
                        <input type="file" id="rightDeckUpload" accept=".wav,.mp3,.ogg">
                        
                        <!--
                        <ul class="list-group">
                            <li id="Streamer" role="presentation" class="list-group-item active"><button class="label">Wave Racer - Streamers</button></li>
                            <li id="SummerPlants" role="presentation" class="list-group-item">Hi Tom - Summer Plants</li>
                        </ul> -->
                        
                    </td></tr>
                    <tr><td>
                        <button id="playButtonR">Play/Pause</button>
                    </td></tr>
                    <tr><td>
                        <input type="range" id="VolSliderR" value="100" style="width:50%; margin:auto">
                    </td></tr>
                    <tr><td>
                        <div id="waveformR"></div>
                        <canvas id="canvasRight" class="visualizer" style="width:50%"></canvas>
                        <canvas id="graphRight" height="60" style="border:1px solid black; width:100%"></canvas>
                        
                    </td></tr>
                </table>
            
            
            </div>
            
        </div>
    </div>
    <input type="range" id="xFader" value="50" style="width:50%; margin:auto">
    <div id="hiddenContainer">
    <div id="hiddenDiv"></div>
    <canvas id="hiddenCanvas" syle="border:1px solid black"></canvas>
        <button id="hiddenPlayPause">Play/Pause</button>
    </div>
    
    
    <!--
    <div><button id="playButton">Play</button></div>
    <div><button id="stopButton">Stop</button></div>
    <div><button id="sampleButton">Play Sample</button></div>
    
    <div id="waveform"></div>

    <canvas class="visualizer"></canvas>
    
    <canvas id="graph" height="200" width="100%" style="border:1px solid black"></canvas>
    -->
    
    <script src="{{audio}}"></script>
    <script src="{{tests}}"></script>
</body>
</html>