body {
    background-color: black
}

.jumbotrun {
    height: 200px;
}

.deck {
}


.column {
    border-radius: 5px;
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
}



.metal {
  outline: none;

  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -2px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
  
  transition: color .2s;
}

.metal2 {
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 2px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 2px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
}

#canvasLeft, #canvasRight {
    margin-bottom: 15px !important;
}

.linear {
  /*width: 100px;*/

  border-radius: .5em;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(150deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}



.gradient {
  background-color: lightgray;
  background-image:
    linear-gradient(
      to right top,
      #9498a1,
      #c4c7ce
    );
}

.bottom {
    margin-top: 25px;
}

.deckContainer {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    display: inline-block;
    text-align: center;
}

#leftPlayer, #rightPlayer {
    background-image: url('black_wood.jpeg');
    background-repeat: round;
    min-width: 350px;
    display: inline-block;
}

#leftPlayer {
    width: 40%;
    margin-right: 2%;
    margin-left: 2%;
}

#rightPlayer {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

/*
#leftPlayer {
  background-color: lightgray;
  background-image:
    linear-gradient(
      to right top,
      #9498a1,
      #c4c7ce
    );
}
*/

#metronomeButton {
    margin: 5px;
    margin-top: 10px;
}

.buttonSelected {
    color: white;
    background-color: black;
}

.buttonDeselected {
    color: black;
    background-color: white;
}

#leftDeckUpload, #rightDeckUpload {
    height: 40px;
    margin-top: 20px;
}

.filter {
    margin: 10px;
    margin-top: 5px;
}

h2 {
    color: white;
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
}

h1:hover, h2:hover {
    cursor: default;
}

h1 {
    font-size: 60px !important;
    font-family: 'Oswald', sans-serif;
}

/*
#rightPlayer {
  background-color: lightgray;
  background-image:
    linear-gradient(
      to left top,
      #9498a1,
      #c4c7ce
    );
}
*/


.waveform {
    background-color: #4B0082;
    margin-top: 15px;
    border: 7px solid #2E0854;
    border-radius: .1em;
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    /*hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    /*hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
}

.startButton {
    height: 75px;
    width: 100px;
    background-image: url(start-stop-button.jpg);
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.smallButton {
    height: 50px;
    width: 50px;
    margin: 20px;
    background-size: cover;
    position: relative;
    margin-top: 30px;
}

.rewind {
    background-image: url(rewind-button.png);
}

.FF {
    background-image: url(FF-button.png);
}

.visualizer {
    background-color: black;
    border-radius: .25em;
}


.dial {
    font-size: 10px !important;
}


.xFaderDiv {
    background-color: #000; 
    height:25px; 
    width: 80%; 
    margin-top: 25px;
    border-radius: .2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#xFader {
    margin-right: 50px;
}

.slider {
    width: 80% !important;
}



.slider-handle.custom::before {
    line-height: 20px;
    font-size: 50px;
    font-family: FontAwesome !important;
    content: "\f146" !important;
    color: black;
}

.slider-handle {
    transform: rotate(90deg) translateX(-50%);
}

.jumobtron {
    padding: 200px !important;
}
